@model n01467577_Assignment3.Models.Teacher
@{
    ViewBag.Title = "DeleteConfirm";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/ShowTeacher/@Model.TeacherId">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete @Model.TeacherFname @Model.TeacherLname?</h2>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/Teacher/DeleteTeacher/@Model.TeacherId">
        <button class="delbutton">
            Confirm Delete
        </button>
    </form>
</div>
<style>
    .containerlist {
        padding-left: 10px;
    }

    .navlink {
        padding-top: 20px;
        font-size: 25px;
        float: right;
        padding-right: 20px;
        color: black;
        font-weight: bold;
    }

    nav a:hover {
        color: blue;
        text-decoration: none;
    }

    h2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .delbutton {
        background-color: red;
        color: white;
        margin-top: 20px;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
    }

    .delbutton:hover {
        background-color: gray;
    }
</style>
