
@{
    ViewBag.Title = "Error";
}
<nav>
    <a class="navlink" href="/Teacher/NewTeachers">Back To Add Teachers</a>
</nav>
<h2 style="color:red; font-weight:bold; font-size:30px;">Error</h2>
<p> Please fill the form completely before submission</p>

